<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Discord.NET Nightly" value="https://www.myget.org/F/discord-net/api/v3/index.json" />
  </packageSources>
</configuration>